@import url('https://fonts.google.com/specimen/Sora?query=sora');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:  'sora', sans-serif;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #ebe0e081;
}

.card {
  width: 368px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 170px;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: #20293A;
}

.card img {
  width: 100%;
}
.card span{
  width: 100px;
  padding: 6px;
  font-size: 0.6rem;
  font-weight: 600;
  background-color: rgba(136, 58, 225, 0.4);
  color: #883ae1;
  border-radius: 20px;
  text-align: center;
  margin-top: 16px;

}



.title {
  margin-top: 16px;
  font-size: 1.125rem;
  color: #000;
}

.smalltxt {
  margin-top: 16px;
  font-size: 0.9;
}

.author {
  margin-top: 16px;
  padding-top: 20px;
  font-size: 0.6;
  font-weight: 500;
  border-top: solid 1px #e6d6fc;
}

@media (max-width: 750px) {
  .card { 
    width: 50%;
  }
  .card span {
    width: 100%;
  }
}